$primaryColor: hsl(0, 0%, 23%);
$secondaryColor: hsl(182, 33%, 46%);
$tertiaryColor: hsl(240, 100%, 90%);
$fontHeader: Oswald, sans-serif;
$fontBody: Arial, sans-serif;
$headerSize: 40px;
$breakpoint-phone: 480px;

/* Google Font */
@import url(https://fonts.googleapis.com/css?family=Oswald);

@mixin media($queryString){
  @media #{$queryString} {
    @content;
  }
}

#profile-pic {
  @include media("(min-width:768px)"){
    float: left;
    margin: 20px 0 0 60px;
  }
  @include media("(max-device-width: 480px)"){
    float: none;
    margin-left: 0px;
  }
}

header {
  .intro-text {
    padding-top:300px 0 200px 0;
  }

  .intro-text .intro-lead-in {
    font-size:$headerSize;
    line-height:40px;
    margin-bottom:25px;
  }

  .intro-text .intro-heading {
    text-transform:uppercase;
    font-weight:700;
    font-size:75px;
    line-height:75px;
    margin-bottom:50px
  }
}

body {
  font-family: $fontBody;
  line-height: 1.5em;
  background-image: url(../img/fielddancer.jpeg);
  background-size: 100%;
  background-position:bottom;
  background-repeat: no-repeat;
  border-radius: 0;
}

a {
  text-decoration: none; /*this also removes underlines from the nav bar*/
}

h1 {
  font-family: $fontHeader;
  text-transform: uppercase;
  line-height: 1.2em;
  font-weight: bold;
  font-size: $headerSize;
  color: darken($primaryColor, 20%);
}

.content-section {
  padding: 45px 10px 10px 10px;
  text-align: center;
}

/*Nav bar styling*/
nav {
  position: fixed;
  border-bottom: 5px solid $secondaryColor;
  width: 100%;
  height: 2.3em;
  padding-top: 16px;
  background-color: $primaryColor;
  text-align: right;
  margin-left: -8px;
  margin-top: -10px;
}

nav {
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  ul li {
    display: inline;
  }

  li a {
    text-transform: uppercase;
    color: lighten(invert($primaryColor), 80%);
    padding: 1em;
  }

  li a:hover {
    color: $tertiaryColor;
    background-color: darken($primaryColor, 20%);
  }
}

/* This styles the header / first div on the page */

header {
  background-image: url(../img/bg-dc-b&w.jpeg);
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: darken($primaryColor, 80%);
  text-shadow: 5px 5px 5px lighten(invert($primaryColor), 80%);


  .intro-text {
    text-shadow: 25px 25px 25px lighten(invert($primaryColor), 80%);
    padding-top: 100px;
    padding-bottom: 50px;
    overflow: hidden;
  }

  .intro-text .intro-lead-in {
    font-size: 22px;
    line-height: 22px;
    text-shadow: 4px 4px 18px lighten(invert($primaryColor), 80%);
  }
}


// new modal

/**
 * Material Modal CSS
 */
.modal {
  will-change: visibility, opacity;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal--active {
  visibility: visible;
  opacity: 1;
}
.modal--align-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.modal__bg {
  background: transparent;
}
.modal__dialog {
  max-width: 600px;
  padding: 3.5rem;
}
.modal__content {
  will-change: transform, opacity;
  position: relative;
  padding: 2.4rem;
  background: lighten(invert($primaryColor), 5%);
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
  opacity: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal__content--active {
  opacity: 1;
}
.modal__close {
  z-index: 1100;
  cursor: pointer;
}
.modal__trigger {
  position: relative;
  display: inline-block;
  padding: 1.2rem 2.4rem;
  color: rgba(0,0,0,0.7);
  line-height: 1;
  cursor: pointer;
  background: lighten(invert($primaryColor), 5%);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal__trigger--active {
  z-index: 10;
}
.modal__trigger:hover {
  background: lighten(invert($primaryColor), 5%);
}
#modal__temp {
  will-change: transform, opacity;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: lighten(invert($primaryColor), 5%);
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  -webkit-transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.demo-btns header {
  padding: 7vh 10vw;
  background: lighten(invert($primaryColor), 5%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.demo-btns header h1 {
  margin: 0;
  color: rgba(0,0,0,0.54);
  font-weight: 300;
}
.demo-btns .info {
  background: lighten($tertiaryColor, 20%);
  padding: 3vh 10vw;
  height: 70vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
.demo-btns p {
  text-align: center;
  color: lighten($primaryColor, 80%);
}
.demo-btns .link {
  font-size: 20px;
}
.demo-btns .modal__trigger {
  margin-right: 3px;
}

@media (max-width: 640px) {
  .demo-btns .modal__trigger {
    margin-bottom: 0.8rem;
  }
}
.demo-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.2rem;
  padding: 0.6rem;
  background: rgba(0,0,0,0.3);
  border-radius: 50%;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.demo-close svg {
  width: 24px;
  fill: lighten($primaryColor, 80%);
  pointer-events: none;
  vertical-align: top;
}
.demo-close:hover {
  background: rgba(0,0,0,0.6);
}

// /* The 'my work' modal (background) */
// .modal {
//   display: none; /* Hidden by default */
//   position: fixed; /* Stay in place */
//   z-index: 1; /* Sit on top */
//   padding-top: 100px; /* Location of the box */
//   left: 0;
//   top: 0;
//   width: 100%; /* Full width */
//   height: 100%; /* Full height */
//   overflow: auto; /* Enable scroll if needed */
//   background-color: $primaryColor; /* Fallback color */
//   background-color: opacify($primaryColor, .3); /* Color w/ opacity */
// }
//
// /* 'my work' modal content */
// .modal-content {
//   position: relative;
//   background-color: lighten(invert($primaryColor), 80%);
//   margin: auto;
//   padding: 0;
//   width: 80%;
//   box-shadow: 0 4px 8px 0 opacify($primaryColor, .2),0 6px 20px 0 opacify($primaryColor, .19);
//   -webkit-animation-name: animatetop;
//   -webkit-animation-duration: 0.4s;
//   animation-name: animatetop;
//   animation-duration: 0.4s
// }
//
// /* 'my work' modal close button */
// .close {
//   color: lighten(invert($primaryColor), 80%);
//   float: right;
//   font-size: 28px;
//   font-weight: bold;
// }
//
// .close:hover,
// .close:focus {
//   color: darken($primaryColor, 20%);
//   text-decoration: none;
//   cursor: pointer;
// }
//
// .modal-header {
//   padding: 2px 16px;
//   background-color: $secondaryColor;
//   color: lighten(invert($primaryColor), 80%);
// }
//
// .modal-body {
//   padding: 2px 16px;
// }
//
//
// .modal-body img {
//   width: 100%;
// }

#work img {
  width: 350px;
}

#play p, #about p {
  text-align: left;
}

#contact {
  padding-bottom: 175px;
}

// for the contact icons
.icons {
  margin: 10px 10px;
  color: $primaryColor;
}

footer {
  color: lighten($tertiaryColor, 80%);
  text-shadow: 1px 1px darken($primaryColor, 80%);
  text-align: center;
  bottom: 0;
}
