$primaryColor: hsl(0, 0%, 23%);
$secondaryColor: hsl(182, 33%, 46%);
$tertiaryColor: hsl(240, 100%, 90%);
$fontHeader: Oswald, sans-serif;
$fontBody: Arial, sans-serif;
$headerSize: 40px;

/* Google Font */
@import url(https://fonts.googleapis.com/css?family=Oswald);

@mixin media($queryString){
  @media #{$queryString} {
    @content;
  }
}

#profile-pic {
  @include media("(min-width:768px)"){
    float: left;
    margin-top: 20px 0 0 60px;
  }
  @include media("(max-device-width: 480px)"){
    float: none;
    margin-left: 0px;
  }
}

header {
  .intro-text {
    padding-top:300px 0 200px 0;
  }

  .intro-text .intro-lead-in {
    font-size:$headerSize;
    line-height:40px;
    margin-bottom:25px;
  }

  .intro-text .intro-heading {
    text-transform:uppercase;
    font-weight:700;
    font-size:75px;
    line-height:75px;
    margin-bottom:50px
  }
}

body {
  font-family: $fontBody;
  line-height: 1.5em;
  background-image: url(../img/fielddancer.jpeg);
  background-size: 100%;
  background-position:bottom;
  background-repeat: no-repeat;
  border-radius: 0;
}

a {
  text-decoration: none; /*this also removes underlines from the nav bar*/
}

h1 {
  font-family: $fontHeader;
  text-transform: uppercase;
  line-height: 1.2em;
  font-weight: bold;
  font-size: $headerSize;
  color: darken($primaryColor, 20%);
}

.content-section {
  padding: 45px 10px 10px 10px;
  text-align: center;
}

/*Nav bar styling*/
nav {
  position: fixed;
  border-bottom: 5px solid $secondaryColor;
  width: 100%;
  padding-top: 16px;
  background-color: $primaryColor;
  text-align: right;
  margin-left: -8px;
  margin-top: -10px;
}

nav {
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  ul li {
    display: inline;
  }

  li a {
    text-transform: uppercase;
    color: lighten(invert($primaryColor), 80%);
    padding: 1em;
  }

  li a:hover {
    color: $tertiaryColor;
    background-color: darken($primaryColor, 20%);
  }
}

/* This styles the header / first div on the page */

header {
  background-image: url(../img/bg-dc-b&w.jpeg);
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: darken($primaryColor, 80%);
  text-shadow: 5px 5px 5px lighten(invert($primaryColor), 80%);


  .intro-text {
    text-shadow: 25px 25px 25px lighten(invert($primaryColor), 80%);
    padding-top: 100px;
    padding-bottom: 50px;
    overflow: hidden;
  }

  .intro-text .intro-lead-in {
    font-size: 22px;
    line-height: 22px;
    text-shadow: 4px 4px 18px lighten(invert($primaryColor), 80%);
  }
}

/* The 'my work' modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: $primaryColor; /* Fallback color */
  background-color: opacify($primaryColor, .3); /* Color w/ opacity */
}

/* 'my work' modal content */
.modal-content {
  position: relative;
  background-color: lighten(invert($primaryColor), 80%);
  margin: auto;
  padding: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 opacify($primaryColor, .2),0 6px 20px 0 opacify($primaryColor, .19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* 'my work' modal close button */
.close {
  color: lighten(invert($primaryColor), 80%);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: darken($primaryColor, 20%);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: $secondaryColor;
  color: lighten(invert($primaryColor), 80%);
}

.modal-body {
  padding: 2px 16px;
}

#play p, #about p {
  text-align: left;
}

#contact {
  padding-bottom: 175px;
}

// for the contact icons
.icons {
  margin: 10px 10px;
  color: $primaryColor;
}

footer {
  color: $tertiaryColor;
  text-shadow: 1px 1px darken($primaryColor, 80%);
  text-align: center;
  bottom: 0;
}
