body {
    font-family: sans-serif;
    line-height: 1.5em;
    background-image: url(fielddancer.jpeg);
    background-size: 100%;
    background-position:bottom;
    background-repeat: no-repeat;
}

a {
  text-decoration: none;
}



#intro {
  padding-top: 3em;
  padding-left: 5px;
}

h1 {
  text-transform: uppercase;
  line-height: 1em;
}

.row {
  margin: 2em;
  background-color: #f2f2f2;
  padding: 10px;
}

nav {
  position: fixed;
  border-bottom: 5px solid teal;
  width: 100%;
  padding-top: 16px;
  background-color: rgb(60, 60, 60);
  height: 2.34em;
  text-align: right;
  margin-left: -8px;
  margin-top: -10px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    display: inline;
}

nav li a {
    text-transform: uppercase;
    color: white;
    padding: 1em;
}

nav li a:hover {
    color: #ccccff;
    background-color: rgb(20, 20, 20);
}

footer {
    text-align: center;
    height: 100%;
}
